.ipynb_checkpoints/
*.ipynb
*LayoutDETR/*.git

SD/checkpoint/

Translate_Vi2En/checkpoint/
results/
result_temp
submit
PosterLayout-CVPR2023
results/
SD_Thang/checkpoint/
Output/
Notebook
__pycache__
cache
cache/
*/__pycache__/*
