.ipynb_checkpoints/
*.ipynb
*LayoutDETR/*.git

SD/checkpoint/

Translate_Vi2En/checkpoint/

result_temp
submit
PosterLayout-CVPR2023

SD_Thang/checkpoint/
Output/
Notebook
__pycache__
cache
cache/
*/__pycache__/*
